
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="perent">
        <div class="chiled">

            <img id="img-2" src="~/imge/%D8%AC%D8%A7%D9%85%D8%B9%D8%A9%20%D8%AD%D8%B6%D8%B1%D9%85%D9%88%D8%AA.png">
        </div>

        <div class="chiled-p">
            <div class="chiled-p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 96 6">
                    <g id="Group_44" data-name="Group 44" transform="translate(-722.5 -2441.5)">
                        <line id="Line_133" data-name="Line 133" x1="49" transform="translate(766.5 2444.5)" fill="none" stroke="#48a8c9" stroke-linecap="round" stroke-width="6" />
                        <line id="Line_134" data-name="Line 134" x2="29" transform="translate(725.5 2444.5)" fill="none" stroke="#c96948" stroke-linecap="round" stroke-width="6" />
                    </g>
                </svg>
            </div>
            <div class="chiled-p-1">
                <p>نبذة عن الجامعة </p>
            </div>
            <div class="chiled-p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 96 6">
                    <g id="Group_43" data-name="Group 43" transform="translate(-1137.5 -2448.5)">
                        <line id="Line_135" data-name="Line 135" x2="49" transform="translate(1140.5 2451.5)" fill="none" stroke="#48a8c9" stroke-linecap="round" stroke-width="6" />
                        <line id="Line_136" data-name="Line 136" x1="29" transform="translate(1201.5 2451.5)" fill="none" stroke="#c96948" stroke-linecap="round" stroke-width="6" />
                    </g>
                </svg>

            </div>

        </div>

        <div class="chiled-p2">
            <p>
                أنشئت جامعة حضرموت بالقرار الجمهوري رقم (45) لسنة 1993م، ويقع المركز الرئيسي للجامعة في مدينة المكلا عاصمة محافظة حضرموت ، ولها حاليًا عدد من الكليات في كل من المكلا ومدينة الغيضة بمحافظة المهرة ، وجزيرة  سقطرى
            </p>
        </div>

    </div>
</section>
<br><br>
<section>
    <div class="perent">
        <div class="chiled-2">

            <img id="img-2" src="~/imge/كلية الحاسبات.png">
        </div>

        <div class="chiled-p">
            <div class="chiled-p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 96 6">
                    <g id="Group_44" data-name="Group 44" transform="translate(-722.5 -2441.5)">
                        <line id="Line_133" data-name="Line 133" x1="49" transform="translate(766.5 2444.5)" fill="none" stroke="#48a8c9" stroke-linecap="round" stroke-width="6" />
                        <line id="Line_134" data-name="Line 134" x2="29" transform="translate(725.5 2444.5)" fill="none" stroke="#c96948" stroke-linecap="round" stroke-width="6" />
                    </g>
                </svg>
            </div>
            <div class="chiled-p-1">
                <p>نبذة عن الكلية</p>
            </div>
            <div class="chiled-p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 96 6">
                    <g id="Group_43" data-name="Group 43" transform="translate(-1137.5 -2448.5)">
                        <line id="Line_135" data-name="Line 135" x2="49" transform="translate(1140.5 2451.5)" fill="none" stroke="#48a8c9" stroke-linecap="round" stroke-width="6" />
                        <line id="Line_136" data-name="Line 136" x1="29" transform="translate(1201.5 2451.5)" fill="none" stroke="#c96948" stroke-linecap="round" stroke-width="6" />
                    </g>
                </svg>

            </div>

        </div>

        <div class="chiled-p2">
            <p>
                بعد تظافر الجهود و توفر الإمكانيات كان البدء بالدراسة ابتداءً من العام الأكاديمي 2017/2018م و استقبلت الكلية
                الطلاب في نوفمبر 2017م في برنامجين أكاديميين هما بكالوريوس علوم الحاسوب وتقنية المعلومات.
                تعمل تخصصات الكلية العلمية على رفد المجتمع بمتخصصين يساهمون في سد الحاجة المتنامية للمجتمع في هذا
                المجال على المستوى المحلي والإقليمي و العالمي
            </p>
        </div>






    </div>





</section>

<div class="chiled-p">
    <div class="chiled-p-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 96 6">
            <g id="Group_44" data-name="Group 44" transform="translate(-722.5 -2441.5)">
                <line id="Line_133" data-name="Line 133" x1="49" transform="translate(766.5 2444.5)" fill="none" stroke="#48a8c9" stroke-linecap="round" stroke-width="6" />
                <line id="Line_134" data-name="Line 134" x2="29" transform="translate(725.5 2444.5)" fill="none" stroke="#c96948" stroke-linecap="round" stroke-width="6" />
            </g>
        </svg>
    </div>
    <div class="chiled-p-1">
        <p>التخصصات</p>
    </div>
    <div class="chiled-p-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="6" viewBox="0 0 96 6">
            <g id="Group_43" data-name="Group 43" transform="translate(-1137.5 -2448.5)">
                <line id="Line_135" data-name="Line 135" x2="49" transform="translate(1140.5 2451.5)" fill="none" stroke="#48a8c9" stroke-linecap="round" stroke-width="6" />
                <line id="Line_136" data-name="Line 136" x1="29" transform="translate(1201.5 2451.5)" fill="none" stroke="#c96948" stroke-linecap="round" stroke-width="6" />
            </g>
        </svg>

    </div>

</div>


<div dir="rtl" class="section departments">
    <div class="sectionIT part1">
        <div class="pic-p">
            <img src="~/imge/IT.png" alt="">
            <h3 class="depN"> تقنية معلومات (IT)</h3>
        </div>
        <div class="para-bot">
            <p class="intro">يعرف تخصص تقنية المعلومات IT Information Technology على أنه دراسة تصميم وتطوير ودعم أنظمة المعلومات المعتمدة على الحواسيب وتطبيقاتها ,حيث تستعمل الحواسيب والتطبيقات البرمجية لتحويل المعلومات, وتخزينها, وحمايتها, ومعالجتها, وإرسالها, واسترجاعها بشكل آمن, ويطلق على من يدرسون تخصص تقنية المعلومات إخصائي الحاسوب, أو إخصائي تقنية المعلومات, وفي الوقت الحالي يوجد في كل شركة قسم متخصص بتقنيات الشبكيات والبرمجيات يعرف بقسم تقنية المعلومات, أو قسم نظم المعلومات Information System واختصارها IS أو نظم المعلومات الإدارية, واختصارها MIS.  </p>
            <a href="@Url.Action("IT", "Computting", new{dept="IT",dept2="Bouth" })"><button class="more"> اعرف المزيد</button></a>
        </div>
    </div>
    <div class="sectionCS part1">
        <div class="pic-p">
            <img src="~/imge/CS.png" alt="">
            <h3 class="depN"> علوم حاسوب (cs)</h3>
        </div>
        <div class="para-bot">
            <p class="intro">يدرس الطالب الذي يتخصص بعلوم الحاسوب الكثير من المجالات المتنوعة, مثل:دراسة علم الرياضيات مع التركيز على التفاضل والتكامل calculus , والجبر الخطي, حيث يعتبر علم الرياضيات من أهم العلوم الأساسية في برمجة الحاسوب, حيث يساعد على معالجة الحاسوب للبيانات, كما يدرس الطالب الكثير من لغات البرمجة الشهيرة مثل: برنامج java وبرنامج HTML , والقليل من علوم الدارات الإلكترونية وآلية عملها, وعلوم الخوارزميات أثناء السنة الثالثة والرابعة.</p><br><br>
            <a href="@Url.Action("CS", "Computting", new{dept="CS        ",dept2="Bouth     " })" ><button class="more">اعرف المزيد</button></a>
        </div>
    </div>

</div>







<br><br> <br><br> <br><br><br><br>
